@page "/patients"
@using MudBlazor
@using PrzychodniaMedycznaMB_FE.GQL
@using PrzychodniaMedycznaMB_FE.GQL.Models.SchemaModels
@using PrzychodniaMedycznaMB_FE.GQL.Server
@using PrzychodniaMedycznaMB_FE.Pages.Dialogs
@inject ISnackbar Snackbar
@inject IDialogService Dialog


<MudGrid Style="margin-top:5em;" Justify="Justify.Center">
    <MudItem lg="12" md="12" sm="12" xs="12">
        <MudCard Elevation="5" Class="table_card" >
            <MudCardContent>

            <MudTable ServerData="@(new Func<TableState, Task<TableData<Patient>>>(ServerReload))" Dense="false" Hover="true" @ref="table">   
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Pacjenci</MudText>
                    <MudSpacer />
                    <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh><MudTableSortLabel SortLabel="ident" T="Patient">Identyfikator pacjenta</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortLabel="pacjent" T="Patient">Pacjent</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortLabel="email" T="Patient">Adres e-mail</MudTableSortLabel></MudTh>
                </HeaderContent>
                <RowTemplate>

                          <MudTd DataLabel="Identyfikator pacjenta">@context.userId</MudTd>
                          <MudTd DataLabel="Pacjent">@context.lastname @context.firstname </MudTd>
                          <MudTd DataLabel="Adres e-mail">@context.email</MudTd>

                </RowTemplate>
                <PagerContent>
                    <MudTablePager RowsPerPageString="Ilość wierszy na stronę" InfoFormat="@infoFormat"/>
                </PagerContent>
            </MudTable>
          </MudCardContent>
        </MudCard>
    </MudItem>
     <MudItem lg="12" md="12" sm="12" xs="12" Class="mt-5">
          <div style="float:right;">
              <MudButton Variant="Variant.Filled" Color="Color.Tertiary" OnClick="@OpenDialog" > 
                    <MudIcon Icon="@Icons.Material.Filled.Add" Size="Size.Medium" /> &nbsp Dodaj nowego pacjenta
              </MudButton>
          </div>
     </MudItem>
</MudGrid>

@code {

    [Inject] public IServerHelper _serverHelper { get; set; } = default!;

    private MudTable<Patient> table = default!;
    private IEnumerable<Patient> pagedData = default!;
    private int totalItems;
    private string searchString = "";
    private Patient selectedItem1 = default!;

    private string infoFormat = "{first_item}-{last_item} z {all_items}";
    private HashSet<Patient> selectedItems = new HashSet<Patient>();

    private async Task<TableData<Patient>> ServerReload(TableState state)
    {
        IEnumerable<Patient> data = await _serverHelper.GetPatientsByLocationId(ProjectVariables.CurrentUserLocationId, 0, 100);
        await Task.Delay(100);
        data = data.Where(element =>
        {
            if (string.IsNullOrWhiteSpace(searchString))
                return true;
            if (element.firstname is not null && element.firstname.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            if (element.lastname is not null && element.lastname.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            if (element.email is not null && element.email.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            if (element.userId is not null && Convert.ToString(element.userId).Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            return false;
        }).ToArray();
        totalItems = data.Count();

        switch (state.SortLabel)
        {
            case "ident":
                data = data.OrderByDirection(state.SortDirection, o => o.userId);
                break;

            case "pacjent":
                data = data.OrderByDirection(state.SortDirection, o => o.lastname);
                break;

            case "email":
                data = data.OrderByDirection(state.SortDirection, o => o.email);
                break;
        }

        pagedData = data.Skip(state.Page * state.PageSize).Take(state.PageSize).ToArray();
        return new TableData<Patient>() {TotalItems = totalItems, Items = pagedData};
    }

    private void OnSearch(string text)
    {
        searchString = text;
        table.ReloadServerData();
    }

    private IEnumerable<Patient> Elements = new List<Patient>();

    private async Task ShowAlert(bool result)
    {
        Snackbar.Clear();
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
        Snackbar.Configuration.SnackbarVariant = Variant.Filled;

        if(result)
        {
            Snackbar.Add("Dodano nowego pacjenta", Severity.Success);
        }
        else
        {
            Snackbar.Add("Nie udało się dodać nowego pacjenta", Severity.Error);
        }


        await Task.Delay(500);
    }

    protected override async Task OnInitializedAsync()
    {
        int? currentUserLocationId = ProjectVariables.CurrentUserLocationId;
        if(currentUserLocationId is not null)
        {
            Elements = await _serverHelper.GetPatientsByLocationId(currentUserLocationId, 0, 100);
        }
    }

    private async Task OpenDialog()
    {

        //var parameters = new DialogParameters { ["server"]= 'a' };
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium, FullWidth = true };

       // var dialog = await Dialog.ShowAsync<AddVisit>("Zaplanuj wizytę", parameters, options);
        var dialog = await Dialog.ShowAsync<AddPatient>("Dodaj pacjenta", options);

        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await ShowAlert((bool)result.Data);
            await Task.Delay(500);
            await table.ReloadServerData();
        }

    }

}

